.training-short {
  padding: 15px;
  background-color: #282C35;
  border-radius: 5px;
  color: #b7c4d0;
  border-left: 5px solid #e5445b;
  font-weight: 600;
}

.training-control i {
  position: absolute;
  font-size: 25px;
  top: 50%;
  right: 20px;
  transform: translate(-0%, -50%);
  float: right;
  color: #e5445b;
  padding: 10px;
  transition: ease-out 0.3s;
}

.training-control i:hover {
  background-color: #e5445b;
  color: #282C35;
}

.training-wrap {
  cursor: pointer;
  padding: 5px;
}

.trainings h1 {
  color: #f4f4f4;
  text-align: center;
  font-weight: 600;
}

.trainings .logo {
  color: #E97D8C;
  margin-left: 15px;
}
.trainings .add-training-button {
  font-size: 30px;
  right: 50%;

  position: fixed;
  bottom: 5%;
  width: 50px;
  height: 50px;
  background-color: #e5445b;
  border: 0px;
  border-radius: 5px;
  transform: translate(50%, -0%);

}

.trainings .add-training-button i{
  color: #282C35;
}

@media (max-width: 480px) {
  .trainings .add-training-button {
    bottom: 2%;
}
}
