.training-short {
  padding: 15px;
  background-color: #4484ce;
  border-radius: 5px;
  color: #fff;
}

.training-wrap {
  cursor: pointer;
  padding: 2px;
}

.add-training {
  font-size: 60px;
  text-align: right;
  padding-right: 5%;
  color: #4484ce;
  background-color: #fff;
}
.add-training i {
  cursor: pointer;
}
