.training-short {
  padding: 15px;
  background-color: #282C35;
  border-radius: 5px;
  color: #b7c4d0;
  border-left: 5px solid #e5445b;
  font-weight: 600;
}

.training-wrap {
  cursor: pointer;
  padding: 2px;
}

.trainings h1 {
  color: #f4f4f4;
  text-align: center;
  font-weight: 600;

}
.trainings .logo{
  color: #E97D8C;
  margin-left: 15px;
}
