.exercise {
  padding:15px;
  background-color: #4484ce;
  border-radius: 10px;
  border: 2px solid;
  color: #fff;
}

.training-title{
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #aaa;
}
