nav {
  background-color: #fff;
  overflow: hidden;
  padding: 1em;
}
nav a {
  color: #99a1ab;
  margin-left: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px
}
nav a:visited:hover, nav a:hover {
  background-color: #4484ce;
  color:  #fff;
}
nav a:visited {
  color: #99a1ab;
}
nav .navWide {
  display: none;
  margin: 0 auto;
}
nav .navWide .wideDiv {
  text-align: center;
}
nav .navWide .wideDiv a {
  text-decoration: none;
  display: inline-block;
}
nav .navNarrow i {
  float: left;
  cursor: pointer;
  color: #4484ce;
}
nav .navNarrow .narrowLinks {
  display: none;
}
nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin: 0px;
}

@media (min-width: 480px) {
  nav .navWide {
    display: block;
  }
  nav .navNarrow {
    display: none;
  }
}
