body {
  background: #21242B;
  padding: 5px;
  padding-top: 25px;

}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
  border: none;
  outline: none;
  text-decoration: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.trainings .add-element-button {
  font-size: 30px;
  right: 50%;
  position: fixed;
  bottom: 5%;
  width: 60px;
  height: 60px;
  background-color: #e5445b;
  border: 0px;
  border-radius: 50%;
  transform: translate(50%, -0%);
  cursor: pointer;
}

.trainings .add-element-button i {
  color: #282C35;
}

@media (max-width: 480px) {
  .trainings .add-element-button {
    bottom: 2%;
  }
}
